<html>
	<head>
	</head>
    <body class="p-3 mb-2 bg-light text-dark">
      <div class="text-center"> 
        <form action= "/admin" method= "POST">
          <h5>Login:</h5>
          <input type="text" name="user"/> <br/>
          <h5>Password:</h5>
          <input type="password" name="user_password"/> <br/>
          <br/>
         <button type="submit" class="btn btn-primary">Вход</button>
        </form><br/>
        <h5 class="text-danger"><%= @message1 %></h5> 
        </div>
    </body>
</html>